@using WikiNetCore.Models
@model WikiNetCore.Models.SearchModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new {@class = "form-inline"}))
{
        <div class="form-group form-group-lg">
            @Html.TextBoxFor(model => model.SearchTerm, new {@class = "form-control searchInput", placeholder = "Search Wiki"}) 
        </div>
        <button type="submit" class="btn btn-primary btn-md">Search</button>
}
        <span>@Html.ValidationSummary()</span>
</div>

 @if (Model != null && Model.Results.Count > 0)
 {
     <div class="panel panel-info">
         <div class="panel-heading">Pages matching search criteria</div>
         <div class="panel-body">
             <table class="table table-striped">
                 <tbody>
                     @foreach (var result in Model.Results)
                     {
                         <tr>
                             <td>@Html.ActionLink(result.DisplayText, "ViewPage", new {entry = result.FileName})</td>
                         </tr>
                     }
                 </tbody>
             </table>
         </div>
     </div>
 }