@using WikiNetCore.Models
@model WikiNetCore.Models.MarkdownResult
@{ ViewBag.Title = Model.Title; }

<div class="row">

<div class="panel panel-primary">
    <div class="panel-heading">
        <a href="#" onclick="history.back();"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
        <span class="pull-right">@Model.Title</span>
    </div>
    <div class="panel-body">
        @Html.Raw(Model.Content)
    </div>
</div>

    <p>
        <a class="btn btn-primary" href="#" onclick="history.back();"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
    </p>
</div>